{% extends 'base.html' %}
{% csrf_token %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1 class="display-4">Latest Posts</h1>
        </div>
        <div class="col-md-4 text-right">
            <a href="{% url 'author_create' %}" class="btn btn-primary">Create Author</a>
            <a href="{% url 'post_create' %}" class="btn btn-success">Create Post</a>
        </div>
    </div>
    <hr>
    <div class="row">
        {% for post in latest_posts %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">By {{ post.author.name }} on {{ post.pub_date }}</h6>
                        <a href="{% url 'post_detail' post_id=post.id %}" class="btn btn-info">Read More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

