
{% extends 'base.html' %}

{% block content %}
    <h1 class="display-4">{% if form.instance.pk %}Update{% else %}Create{% endif %} Post</h1>
    <hr>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.title.id_for_label }}">Title :</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label for="{{ form.content.id_for_label }}">Content:</label>
            {{ form.content }}
        </div>
        <div class="form-group">
            <label for="{{ form.author.id_for_label }}">Author:</label>
            {{ form.author }}
        </div>
        <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Update{% else %}Create{% endif %} Post</button>
    </form>
{% endblock %}
